<h1>Listing windows_images</h1>

<table>
  <thead>
    <tr>
      <th>Nom</th>
    </tr>
  </thead>

  <tbody>
    <% @windows_images.each do |windows_image| %>
      <tr>
        <td><%= windows_image.name %></td>
        <td><%= link_to 'Télécharger', "/windows_images/#{windows_image.id}/download" %></td>
        <td><%= link_to 'Supprimer', windows_image, method: :delete, data: { confirm: 'Attention, cela est irréversible' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Windows image', new_windows_image_path %>
