<h1>HirensBoot</h1>

<ul class="nav nav-pills nav-stacked" id="stacked-menu">
  <li><a class="nav-container" href="/windows_images" id="dashboard_link">Images Windows</a></li>
  <li><a class="nav-container" href="/binaries" id="countries_link">Binaires disponibles</a></li>
</ul>