<h1 id="resource-title">Binaires</h1>
<div class="panel panel-primary">
  <div class="panel-heading">Binaires disponibles</div>
  <table class="table">
    <tbody>
    <% @binaries.each do |binary| %>
        <tr>
          <td><%= binary.name %></td>
          <td><%= link_to 'Télécharger', "/binaries/#{binary.id}/download", class: 'btn btn-warning' %>
              <%= link_to 'Supprimer', binary, method: :delete, data: { confirm: 'Attention, cela est irréversible' }, class: 'btn btn-danger' if current_user.admin %></td>
        </tr>
    <% end %>
    </tbody>
  </table>
</div>
<br/>
<%= link_to 'Ajouter un binaire', new_binary_path, class: 'btn btn-success btn-large btn-new' if current_user.admin %>
